@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

body{
    background-color: black;
    color: white;
}

.left{
    width: 25vw;
}

.right{
    width: 75vw;
}

.home{
    padding: 25px 33px 25px 33px;
    gap: 20px;
    margin-bottom: 6px;
}

.home ul{
    gap: 20px;
    flex-direction: column;
}

.logo{
    width: 90px;
}

.home ul li{
    gap: 17px;
    list-style: none;
    font-weight: 500;
    cursor: pointer;
}

.library{
    min-height: 70vh;
    position: relative;
}

.heading{
    gap: 17px;
    padding: 20px;
    font-weight: 500;
}

.heading-footer{
    font-size: 10px;
    position: absolute;
    bottom: 0;
    gap: 12px;
    flex-wrap: wrap;
}

.heading-footer a{
    color: grey;
    text-decoration: none;
}

.header{
    padding: 8px 25px 8px 25px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav{
    gap: 16px;
}

.buttons{
    gap: 28px;
}

.buttons button{
    font-weight: 700;
    font-size: 16px;
}

.buttons .signup{
    border: none;
    background: transparent;
    color: grey;
}

.buttons .login{
    padding: 15px 28px;
    border: none;
    border-radius: 28px;
}

.playlist{
    margin-top: 6px;
    padding: 14px;
}

.card-container{
    margin-top: 14px;
    gap: 12px;
    flex-wrap: wrap;
}

.card{
    width: 200px;
    background-color: #282828;
    padding: 12px;
    border-radius: 8px;
    flex-direction: column;
    gap: 9px;
}

.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.card p{
    color: #b3b3b3;
    font-size: 13px;
}



